[submodule "lib/diffa/public/vendor/slickgrid"]
	path = lib/diffa/public/vendor/slickgrid
	url = git://github.com/mleibman/SlickGrid.git
[submodule "lib/diffa/public/vendor/mocha"]
	path = lib/diffa/public/vendor/mocha
	url = https://github.com/visionmedia/mocha.git
