<!DOCTYPE html>
<html>
<head>
  <title>AdapterDemo</title>
  <script src="/assets/vendor/slickgrid/lib/jquery-1.7.min.js">  </script>
  <script src="/bootstrap-tooltip.js">  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%= yield %>

</body>
</html>
